
#header {
  color:white;
  text-align:center;
  font-size:30px;
  font-style:oblique;
  margin:50px;
}


.div {
  color: black;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

p { color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

body {
  background: url(images/keyboard.jpg);
}

#johnpic {
  margin-left:80px;
  padding-right:30px;
  float:left;
  width:30%;
  }
#john {
  color: white;
  font-size:18px;
  align-content: right;
  padding-top: 80px;
  padding-right: -300px;
  width: 80%;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#contact {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  position:absolute;
  bottom: -500px;
  }

#footer {
  text-align:center;
}
